extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let studentid = toShow._id
    - let s_NAME = toShow.s_NAME
    - let s_ID = toShow.s_ID
    - let s_GRADE = toShow.s_GRADE
    - let actionid = "/resource/student/" + studentid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='studentAttr mr-3') student ID is:
        div #{studentid}
      div.row
        div(class='studentAttr mr-3') student Name is:
        div #{s_NAME}
      div.row
        div(class='studentAttr mr-3') student ID is:
        div #{s_ID}
      div.row
        div(class='studentAttr mr-3') student Grade is:
        div #{s_GRADE}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-success m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the student collection
        window.location.href='/student'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/student'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error)
        });
      }