extends layout

block content
  h1= title
  - let items = results;
   div.container-fluid
    div.row
     each Student,index in items 
      div.col-sm-2(onClick=`buy(${index})`) #{Student.s_NAME}
      div.col-sm-2(onClick=`buy(${index})`) #{Student.s_ID}
      div.col-sm-2(onClick=`buy(${index})`) #{Student.s_GRADE}
      br
      hr

  script.
        function buy(index)
        {
            alert(`You purchased Item ${index+1}`)
        }
  