extends layout

block content
  h1= title
  div(style='text-align: right;')
   button(type='button' class="btn btn-info") Add New Instance
  - let items = results;
   div.container-fluid
    div.row
     each Student,index in items 
      div.col-sm-2(onClick=`buy(${index})`) #{Student.s_NAME}
      div.col-sm-2(onClick=`buy(${index})`) #{Student.s_ID}
      div.col-sm-2(onClick=`buy(${index})`) #{Student.s_GRADE}
      div(style='text-align: right;')
       button(type='button' class="btn btn-primary") Save
       button(type='button' class="btn btn-success") Ok
       button(type='button' class="btn btn-warning") update
       button(type='button' class="btn btn-danger") delete 
      br
      hr

  script.
        function buy(index)
        {
            alert(`You purchased Item ${index+1}`)
        }
  